# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Python environment / virtual environments
.venv/
*.venv
env/
ENV/
env.bak/
venv/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
downloads/
develop-eggs/
eggs/
sdist/
wheels/
parts/
lib/
lib64/
var/
*.egg
*.egg-info/
.installed.cfg
MANIFEST

# pyproject.toml dependencies
# (Keep the activation script)
!.venv/bin/activate

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
pytestdebug.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/
.dmypy.json

# Database / migration outputs
scan_results.json
db/
migration_config.yml

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# Jupyter Notebook
.ipynb_checkpoints

# Spyder IDE
.spyderproject
.spyproject

# Rope project
.ropeproject

# MkDocs documentation
/site